
AndroidStudy/.idea/.name

AndroidStudy/.idea/compiler.xml

AndroidStudy/.idea/copyright/profiles_settings.xml

AndroidStudy/.idea/encodings.xml

AndroidStudy/.idea/gradle.xml

AndroidStudy/.idea/misc.xml

AndroidStudy/.idea/modules.xml

AndroidStudy/.idea/runConfigurations.xml

*/.classpath
*/.project
*/.settings/*
*/bin/*
*/libs/*
*/gen/*
*/res/*
*/proguard-project.txt
