*.iml
local.properties
*/.classpath
*/.project
*/.settings/*
*/bin/*
*/libs/*
*/gen/*
*/res/*
*/proguard-project.txt


*/*/.classpath
*/*/.project
*/*/.settings/*
*/*/bin/*
*/*/libs/*
*/*/gen/*
*/*/res/*
*/*/proguard-project.txt

*/.idea/*
*/*/.idea/*
*/*/*/.idea/*

*/bin/*
*/*/app/build/*
*/*/build/*
*/*/.gradle/*
