<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pallasli.officeautomation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".hr.ApplyForLeaveActivity" />
        <activity android:name=".bpm.MyTodoListActivity" />
        <activity android:name=".bpm.MyDoneListActivity" />
        <activity android:name=".bpm.MyApplyListActivity" />
        <activity android:name=".bpm.MyDraftListActivity" />
        <activity android:name=".bpm.AuditActivity" />
        <activity android:name=".bpm.AuditRecordListActivity" />
        <activity android:name=".bpm.MyOwnProcessListActivity" />
        <activity android:name=".hr.TaskPublishActivity" />
        <activity android:name=".community.NoticePublishActivity" />
        <activity android:name=".community.NoticeListActivity" />
        <activity android:name=".hr.TaskListActivity" />
        <activity android:name=".community.VoteInitiateActivity" />
        <activity android:name=".community.OrgnizationActivityPublishActivity" />
        <activity android:name=".community.ZoneActivity" />
        <activity android:name=".community.UserInfoActivity" />
        <activity android:name=".im.ChatActivity" />
        <activity android:name=".im.LinkmanActivity" />
        <activity android:name=".im.LinkmanFromQQActivity" />
        <activity android:name=".im.LinkmanFromWebchatActivity" />
        <activity android:name=".im.LinkmanFromMobileActivity" />
        <activity android:name=".im.LinkmanFromOrgnizationActivity" />
        <activity android:name=".community.FriendGroupActivity" />
        <activity android:name=".personal.UserInfoActivity" />
        <activity android:name=".personal.CareListActivity" />
        <activity android:name=".personal.DownloadListActivity" />
        <activity android:name=".personal.UploadListActivity" />
        <activity android:name=".personal.SettingActivity" />
        <activity android:name=".personal.FavoriteListActivity" />
        <activity android:name=".personal.MessageListActivity" />
        <activity android:name=".bpm.FormDataActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>