<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.pallasli.hr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".HrEmployeeActivity" />
        <activity android:name=".HrMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HrEmployeeRegistrationActivity"
            android:label="@string/title_activity_hr_employee_registration" />
        <activity android:name=".HrEmployeeDetailActivity" />
        <activity android:name=".HrEmployeeAddActivity" />
        <activity android:name=".HrEmployeeBeRegularActivity" />
        <activity android:name=".HrEmployeeApplyRegularActivity" />
        <activity android:name=".HrEmployeeApplyLeaveOfficeActivity" />
        <activity android:name=".HrEmployeeApplyPortExchangeActivity" />
        <activity android:name=".HrEmployeeListActivity" />
        <activity android:name=".HrEmployeeLeaveOfficeListActivity" />
        <activity android:name=".HrEmployeePortExchangeListActivity" />
        <activity android:name=".HrEmployeeRegularListActivity" />
        <activity android:name=".JournalDailyReportActivity" />
        <activity android:name=".JournalMonthReportActivity" />
        <activity android:name=".JournalWeekReportActivity" />
        <activity android:name=".DutySignActivity" />
        <activity android:name=".DutyExtraActivity" />
        <activity android:name=".DutyLeaveActivity" />
        <activity android:name=".DutyTravelActivity" />
        <activity android:name=".DutyOutActivity" />
        <activity android:name=".DutyExchangeActivity"></activity>
    </application>

</manifest>